{% extends "layout.html" %}

{% block content %}
  <h3>{{ Page.title }} <small> (<a href="PLACEHOLDER_URL_TITLE/similar">Similar</a>)</small></h3>
  <br>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">{{ Page.author.name }}</a></h4>
  <div>Tag List</div>
  <hr/>
  <div><a href="/users/{{ Page.author.id }}">Link to {{ Page.author.name }}'s page</a></div>
  <br>
  <div class="page-body">CONTENT: {{ Page.content }}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">Edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">Delete this page</a>
{% endblock %}	